
// Color
//---------------------------------

$color-accent:                                 #00b2ff !default;
$color-dark-bg:                                #1b2d37 !default;


// gradient
//---------------------------------


// Typography
//---------------------------------

$font-family--sansSerif:                      "Arial", sans-serif !default;

//fonts

$robotocondensed:                             "Robotocondensed", $font-family--sansSerif;
$ptmono:                                      "Ptmono", $font-family--sansSerif;
$roboto:                                      "Roboto", $font-family--sansSerif;

// shadow
//---------------------------------


// Media queries
//---------------------------------

$mobile--only:                       320px !default;
$mobile--max:                        767px !default;
$tablet--max:                       1023px !default;
$desktop--min:                      1024px !default;
$desktop--max:                      1366px !default;

// retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// animation
//---------------------------------

$animate:                          0.2s linear;
