
// Color
//---------------------------------

$color-accent:                                 #00b2ff !default;
$color-dark:                                   #1b2d37 !default;
$color-text:                                   #666666 !default;
$color-text-footer:                            rgba($color-text, 0.5);
$color-border-item:                            #ebebeb !default;
$color-social-bg:                              #cdcdcd !default;
$color-footer-bg:                              #fafafa !default;
$color-footer-border:                          rgba(#626962, 0.2);


// gradient
//---------------------------------


// Typography
//---------------------------------

$font-family--sansSerif:                      "Arial", sans-serif !default;

//fonts

$robotocondensed:                             "Robotocondensed", $font-family--sansSerif;
$ptmono:                                      "Ptmono", $font-family--sansSerif;
$roboto:                                      "Roboto", $font-family--sansSerif;

// shadow
//---------------------------------


// Media queries
//---------------------------------

$mobile--only:                       320px !default;
$mobile--max:                        767px !default;
$tablet--max:                       1023px !default;
$desktop--min:                      1024px !default;
$desktop--max:                      1366px !default;

// retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// animation
//---------------------------------

$animate:                          0.2s linear;
